*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#main{
    height: 100px;
    width: 100%;
    
}
#circle{
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
}